.my-profile {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 横方向に中央揃え */
}

#profile-image {
  --my-image-width: 20rem;
  width: var(--my-image-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--my-image-width) / 2 * -1);
}

.section-title-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.section-title-block .section-title {
  font-size: 40px;
}

.profile-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  max-width: 83%;
  display: block;
  justify-content: center;
}

.profile-content .profile-text {
  flex: 1;
}

